{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registr.css') }}">
{% endblock %}

{% block body %}
<div class="step1"><h1>Шаг 1</h1></div>
<from class="box" action="{{url_for('reg')}}" method="POST">
    <div id="menu1">
        <h1>Регистрация</h1>
        <input type="text" name="name" placeholder="Никнейм" id="name">
        <input type="email" name="email" placeholder="Почта" id="email">
        <input type="password" name="password" placeholder="Пароль" id="password">
        <button type="submit">Зарегистрироваться</button>
        {{text}}
    </div>
</from>
{% endblock %}
